#header {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: right;
    margin-top: 20px;
    color: #707070;
    margin-bottom: 0px;
}

#subheader {
     font-weight: 400;
     font-size: medium;
     text-align: right;
     font-family: 'Lato', sans-serif;
     color: #707070;
     margin-top: 0;
}

#bottomheader {
  font-size:xx-large;
  color: #BCBBBB;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.grid {
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    height: 1px;
    border: solid 1px #BCBBBB;
    background-color: #BCBBBB;
}

#htmlcode {
    max-height: 100%;
    max-width: 100%;
}

*div {
  border: 1px solid red;
}

.row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

.col-1{
  width: 8.33%;
}

.col-2{
  width: 16.667%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.33%;
}

.col-5{
  width: 41.667%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.33%;
}

.col-8{
  width: 66.67%;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.33%;
}

.col-11{
  width: 91.67%;
}

.col-12{
  width: 100%;
}


